
:root {
  font-family: Arial, Helvetica, sans-serif;
  --color-primary: #0088FF;
  --color-secondary: #88CCFF;
  --color-dark: #1F3F66;
  --color-light1: #AFAFAF;
  --color-light2: #F2F3FB;
}
html, body {
  height: 100%;
  margin: 0;
  color: var(--color-dark);
}
* {
  box-sizing: border-box;
}
